{% extends "base.html" %}

{% block title %}
Applications | JobTrackr
{% endblock %}

{% block content %}

<h1>Applications</h1>

<a href="{{ url_for('add_application') }}">Add Application</a>

{% for application in applications %}
<div>
    <h2>{{ application.company }}</h2>
    <p>{{ application.role }}</p>
    <p>{{ application.status }}</p>
    <p>{{ application.applied_date }}</p>

    <form action="{{ url_for('delete_application', id=application.id) }}" method="POST">

        <button type="submit">
            Delete
        </button>

    </form>

    <a href="{{ url_for('edit_application', id=application.id) }}">
        Edit
    </a>

</div>

{% else %}
<p>No applications added yet.</p>
{% endfor %}

{% endblock %}