{% extends "base.html" %}

{% block title %}
Applications | JobTrackr
{% endblock %}

{% block content %}

<h1>Applications</h1>

<form method="GET">

    <input type="text" name="search" value="{{ request.args.get('search', '') }}" placeholder="Search applications...">

    <select name="status">

        <option value="" {% if not request.args.get('status') %}selected{% endif %}>
            All Statuses
        </option>

        <option value="Applied" {% if request.args.get('status')=='Applied' %}selected{% endif %}>
            Applied
        </option>

        <option value="Interview" {% if request.args.get('status')=='Interview' %}selected{% endif %}>
            Interview
        </option>

        <option value="Offer" {% if request.args.get('status')=='Offer' %}selected{% endif %}>
            Offer
        </option>

        <option value="Rejected" {% if request.args.get('status')=='Rejected' %}selected{% endif %}>
            Rejected
        </option>

    </select>

    <button type="submit">
        Apply
    </button>

</form>

<a href="{{ url_for('add_application') }}">Add Application</a>

{% for application in applications %}
<div>
    <h2>{{ application.company }}</h2>
    <p>{{ application.role }}</p>
    <p>{{ application.status }}</p>
    <p>{{ application.applied_date }}</p>

    <form action="{{ url_for('delete_application', id=application.id) }}" method="POST">

        <button type="submit">
            Delete
        </button>

    </form>

    <a href="{{ url_for('edit_application', id=application.id) }}">
        Edit
    </a>

</div>

{% else %}
<p>No applications added yet.</p>
{% endfor %}

{% endblock %}