{% extends "base.html" %}

{% block title %}
Edit Application | JobTrackr
{% endblock %}

{% block content %}

<h1>Edit Application</h1>

<form method="POST">

    <input type="text" name="company" value="{{ application.company }}" required>

    <input type="text" name="role" value="{{ application.role }}" required>

    <input type="text" name="status" value="{{ application.status }}" required>

    <input type="date" name="applied_date" value="{{ application.applied_date }}" required>

    <button type="submit">
        Update Application
    </button>

</form>

{% endblock %}